<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Website_name_goes_here</title>
  <link rel="stylesheet" href="template_style.css">
  <link rel="icon" href="">
</head>
<body>
  <header>
    <div class="title">
      Topic of the website
    </div>
  </header>
  <div class="slide1">
    <ul>
      <a href="https://www.google.com/">
        <button class="image4">
        
          <b>Lorem ipsum dolor </b>
      </button>
      </a>
      
    </ul>
    <ul>
      <a href="https://www.google.com/">
        <button class="image3">
        
          <b>Lorem ipsum dolor</b>
      </button>
      </a>
      
    </ul>
    <ul>
      <a href="https://www.google.com/">
        <button class="image2">
        
          <b>Lorem ipsum dolor sit, </b>
      </button>
      </a>
      
    </ul>
    <ul>
      <a href="https://www.google.com/">
        <button class="image1">
        
          <b>Lorem ipsum dolor sit,</b>
      </button>
      </a>
      
    </ul>

  </div>
  <div class="slide2">
    
  </div>
</body>
</html>